/* Basic reset to remove default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1, h2 {
  color: #4CAF50;
  margin-bottom: 20px;
}

#login h2 {
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #45a049;
}

#profile {
  display: none;
  flex-direction: column;
  align-items: center;
}

#profileData {
  margin-top: 20px;
  white-space: pre-wrap;
  text-align: left;
  width: 100%;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#logoutButton {
  margin-top: 20px;
  background: #f44336;
}

#logoutButton:hover {
  background: #e41e1e;
}
